{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        {% for post in post_list %}
        <div class="item mb-5">
            <div class="media">
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                    src="{{ post.thumbnail_link }}" alt="image">
                <div class="media-body">
                    <h3 class="title mb-1"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <div class="meta mb-1"><span class="date">Опубликовано: {{ post.created_date }}</span><span class="time">Время чтения: {{ post.reading_duration }} мин.</span></div>
                    <div class="intro">{{ post.text|truncatechars_html:220 }}</div>
                    <a class="more-link" href="{% url 'post_detail' pk=post.pk %}">Читать далее &rarr;</a>
                </div>
                <!--//media-body-->
            </div>
            <!--//media-->
        </div>
        <!--//item-->
        {% endfor %}
        <!--Пагинатор-->
        {% if is_paginated %}
        <nav class="blog-nav nav nav-justified my-5">
        {% if page_obj.has_previous %}
        <a class="nav-link-prev nav-item nav-link rounded-left"
            href="/?page={{ page_obj.previous_page_number }}">Назад<i
                class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="nav-link-next nav-item nav-link rounded-right" href="/?page={{ page_obj.next_page_number }}">Вперед<i
                class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        {% endif %}
        </nav>
        {% endif %}
        <!--//Пагинатор-->
    </div>
</section>
{% endblock content %}